# TD1

## Exercice 1

### Calculer les expressions suivantes à l'aide de Python

In [16]:
5.63 ** 8

1009408.9678769798

In [21]:
(5+23.5) ** 2

812.25

In [18]:
(1+3) * (5-36) * (3.14 ** 4)

-12054.252307840003

## Exercice 2

### Calculer le volume d'une sphère de rayon 0.5 m et l'assigner à une variable. Afficher la valeur de la variable.

In [24]:
from math import pi
(4 / 3) * pi * 0.5 ** 3

0.5235987755982988

## Exercice 3

### Ecrire dans une variable un chiffre compris entre 1 et 100

In [40]:
from random import *
nb_aleat = int(random() * 100)
print(nb_aleat)

64

### Demander à l'utilisateur un chiffre compris entre 1 et 100 et l'affecter à une nouvelle variable

In [43]:
your_nb = int(input("Chosissez un nombre entre 0 et 100"))
print(your_nb)

20

### Ecrire " le chiffre à déterminer était " valeur de votre variable ". Vous avez entré la valeur "

In [48]:
print("Le nombre était :", nb_aleat , "et le votre :" , your_nb)

Le nombre était : 64 et le votre : 20

## Exercice 4

### Ecrire dans une variable un chiffre compris entre 1 et 100

In [49]:
expression_demandee = input("Rentrez une expression mathématique (ex : 2 + 2 ) ")

### Evaluer l'expression et afficher le résultat

In [50]:
print(eval(expression_demandee))

4

## Exercice 5

### Trouver les erreurs:

1_new_variable = 156

MON_TEXTE = ceci est mon texte



Les variables ne respectent pas les regles de nomination de variables. 

La premiere commence par un nombre, la deuxième par une majuscule

## Exercice 6

### Demander à l'utilisateur un nombre entre 1 et 50

In [53]:
nb = int(input("un nombre entre 1 et 50"))

### Ajouter 200

In [54]:
nb += 200

### Afficher le résultat

In [55]:
print(nb)

225

# Fin du TD 1