# TD6 - Fonctions

## Exercice 1 

### Ecrire une fonction qui dessine un sapin avec comme paramètre d'entrée la largeur du sapin.

In [23]:
def sapin(largeur):
    for i in range(0,largeur):
        print(" "*(largeur-i)+str("*"*i)+str(i*"*"))
# Je passe en str pour pouvoir mettre des + dans mon print (car les , mettent des espaces)
sapin(12)

           **
          ****
         ******
        ********
       **********
      ************
     **************
    ****************
   ******************
  ********************
 **********************

## Exercice 2

In [189]:
def demanderNb():
    try :
        nb = int(input("Un nombre entier comprit entre 0 et 10 "))
    except :
        print("entrez un nombre entier ! on a choisi pour vous 5")
        nb = 5
    if(nb<0):
        print("erreur, nombre negatif")
    if(nb>10):
        print("erreur, nombre superieur à 10")
    return int(nb)

def update_comptage():
    if(int(nb) in comptage):
        comptage[nb] += 1
    else :
        comptage[nb] = 1

def ecrire_comptage() :
    my_new_file = "comptage_nb.txt"
    with open("comptage_nb.txt", "w") as f: 
        for i in range(0,11):
            try :
                f.write("le nombre "+str(i) + " a été entré " + str(comptage[i]) +" fois\n")
            except :
                f.write("")

def lecture_comptage() :
    with open("comptage_nb.txt", "r") as f:
        for line in f : 
            print(line)

In [178]:
comptage = {}

In [190]:
nb = demanderNb()
update_comptage()
ecrire_comptage()
lecture_comptage()

le nombre 0 a été entré 1 fois

le nombre 2 a été entré 2 fois

le nombre 3 a été entré 2 fois

le nombre 6 a été entré 2 fois

le nombre 10 a été entré 3 fois

## Exercice 3

### Ecrire la fonction factorielle.

In [52]:
def factorielle(nb):
    prod = 1
    for i in range(1,nb+1):
        prod *= i 
    print(str(nb)+"!"+" = " + str(prod))

factorielle(0)
factorielle(1)
factorielle(2)
factorielle(3)
factorielle(4)
factorielle(5)
factorielle(10)

0! = 1
1! = 1
2! = 2
3! = 6
4! = 24
5! = 120
10! = 3628800

## Exercice 4

### Ecrire une fonction find qui permet de trouver le plus petit élément d'une liste.

Données : 137, 323, 88, 595, 459, 419, 141, 760, 364, 832, 818, 848, 81, 45, 521, 70, 518, 777, 890, 728, 592, 607, 274, 646, 289, 843, 619, 963, 741, 489, 415, 457, 410, 140, 807, 401, 327, 752, 585, 791, 442, 112, 403,
958, 93, 96, 89, 415, 331, 671, 878, 450, 152, 620, 102, 780, 287, 150, 67, 831, 329, 643, 862, 336, 90, 446, 637, 465, 196, 312, 926, 545, 601, 663, 29, 173, 746, 210, 654, 199, 697, 274, 749, 304, 157, 663, 225,
90, 976, 948, 661, 553, 673, 143, 620, 517, 497, 300, 446, 590, 97, 648, 721, 744, 577, 691, 282, 486, 401, 497, 715, 637, 201, 565, 175, 576, 588, 994, 211, 76, 436, 129, 674, 457, 813, 613, 414, 543, 514, 684,
766, 865, 68, 438, 486, 43, 642, 168, 72, 502, 846, 710, 262, 743, 329, 549, 536, 222, 556, 969, 391, 920, 762, 142, 930, 613, 278, 220, 953, 286, 69, 543, 205, 257, 912, 979, 892, 367, 918, 967, 994, 713, 745,
818, 907, 871, 380, 840, 812, 673, 787, 726, 199, 674, 984, 237, 993, 719, 795, 119, 251, 118, 110, 521, 732, 592, 518, 443, 520, 755

In [61]:
liste = [137, 323, 88, 595, 459, 419, 141, 760, 364, 832, 818, 848, 81, 45, 521, 70, 518, 777, 890, 728, 592, 607, 274, 646, 289, 843, 619, 963, 741, 489, 415, 457, 410, 140, 807, 401, 327, 752, 585, 791, 442, 112, 403, 958, 93, 96, 89, 415, 331, 671, 878, 450, 152, 620, 102, 780, 287, 150, 67, 831, 329, 643, 862, 336, 90, 446, 637, 465, 196, 312, 926, 545, 601, 663, 29, 173, 746, 210, 654, 199, 697, 274, 749, 304, 157, 663, 225, 90, 976, 948, 661, 553, 673, 143, 620, 517, 497, 300, 446, 590, 97, 648, 721, 744, 577, 691, 282, 486, 401, 497, 715, 637, 201, 565, 175, 576, 588, 994, 211, 76, 436, 129, 674, 457, 813, 613, 414, 543, 514, 684, 766, 865, 68, 438, 486, 43, 642, 168, 72, 502, 846, 710, 262, 743, 329, 549, 536, 222, 556, 969, 391, 920, 762, 142, 930, 613, 278, 220, 953, 286, 69, 543, 205, 257, 912, 979, 892, 367, 918, 967, 994, 713, 745, 818, 907, 871, 380, 840, 812, 673, 787, 726, 199, 674, 984, 237, 993, 719, 795, 119, 251, 118, 110, 521, 732, 592, 518, 443, 520, 755]

def find(tab):
    id = 0
    pointeur = 0
    for i in range(0, len(tab)):
        if(tab[pointeur]<tab[id]):
            id = pointeur
            pointeur += 1
        else:
            pointeur+=1
    print("le minimum est :", tab[id], "en :", id, "/", len(tab)-1)

find(liste)

le minimum est : 29 en : 74 / 199

# Fin TD6 - Fonctions